<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Smoke">

	<listeners>
		<listener class-name="org.ejagruti.investcorp.listeners.TestSuiteListener"></listener>
		<listener class-name="org.ejagruti.investcorp.listeners.TestCaseListener"></listener>
	</listeners>

<!-- 	<test
		name="Verify Client login functionality by passing valid username and password">
		<parameter name="tcid" value="1"></parameter>
		<parameter name="usid" value="US-GMPS-S1R1"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="y"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://192.168.0.222:1979/investcorp1/mainpage/index.html,remote=y,hubipaddress=192.168.0.106"></parameter>
		<parameter name="ClientLogin"
			value="language=english,username=1600006,password=passw0rd"></parameter>
		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.ClientLogin"></class>
		</classes>
	</test>

   
	<test
		name="Verify Admin login functionality by passing valid username and password">
		<parameter name="tcid" value="2"></parameter>
		<parameter name="usid" value="US-GMPS-S1R1"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="y"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://192.168.0.222:1979/investcorp1/mainpage/index.html,remote=y,hubipaddress=192.168.0.106"></parameter>
		<parameter name="AdminLogin"
			value="language=english,username=superadmin,password=passw0rd"></parameter>
		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.AdminLogin"></class>
		</classes>
	</test> -->



	<test
		name="Verify whether user is able to view first 10 branches in descending order">
		<parameter name="tcid" value="3"></parameter>
		<parameter name="usid" value="US-GMPS-S2R2"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="y"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://localhost:1979/investcorp1/mainpage/index.html,remote=n,hubipaddress=localhost"></parameter>
		<parameter name="AdminLogin"
			value="language=english,username=superadmin,password=passw0rd"></parameter>
		<parameter name="Navigation" value="menu=View/Edit,submenu=Branches"></parameter>
		<parameter name="ViewandValidateData"
			value="query=SELECT id FROM branches ORDER BY id DESC LIMIT 0#10"></parameter>
		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.AdminLogin"></class>
			<class name="org.ejagruti.investcorp.modules.Navigation"></class>
			<class name="org.ejagruti.investcorp.modules.ViewandValidateData"></class>
		</classes>
	</test>

<!-- 
	<test
		name="Verify whether user is able to view frrst 10 cities in descending order">
		<parameter name="tcid" value="4"></parameter>
		<parameter name="usid" value="US-GMPS-S2R2"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="y"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://localhost:1979/investcorp1/mainpage/index.html,remote=n,hubipaddress=localhost"></parameter>
		<parameter name="AdminLogin"
			value="language=english,username=superadmin,password=passw0rd"></parameter>
		<parameter name="Navigation" value="menu=View/Edit,submenu=Cities"></parameter>
		<parameter name="ViewandValidateData"
			value="query=SELECT id FROM cities  ORDER BY id DESC LIMIT 0#10"></parameter>
		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.AdminLogin"></class>
			<class name="org.ejagruti.investcorp.modules.Navigation"></class>
			<class name="org.ejagruti.investcorp.modules.ViewandValidateData"></class>
		</classes>
	</test>



	<test name="Verify Search Functionality for a particular branch">
		<parameter name="tcid" value="5"></parameter>
		<parameter name="usid" value="US-GMPS-S2R4"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="n"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://localhost:1979/investcorp1/mainpage/index.html,remote=n,hubipaddress=localhost"></parameter>
		<parameter name="AdminLogin"
			value="language=english,username=superadmin,password=passw0rd"></parameter>
		<parameter name="Navigation" value="menu=View/Edit,submenu=Branches"></parameter>
		<parameter name="Search"
			value="search_txt=ICRP0000001,select_column=IFSC CODE,functionality=branch"></parameter>
		<parameter name="ViewandValidateData"
			value="query=SELECT * FROM branches WHERE ifsc_code$'ICRP0000001'"></parameter>
		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.AdminLogin"></class>
			<class name="org.ejagruti.investcorp.modules.Navigation"></class>
			<class name="org.ejagruti.investcorp.modules.Search"></class>
			<class name="org.ejagruti.investcorp.modules.ViewandValidateData"></class>
		</classes>
	</test>


	<test name="Verify Search Functionality for a particular cities">
		<parameter name="tcid" value="6"></parameter>
		<parameter name="usid" value="US-GMPS-S2R4"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="n"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://localhost:1979/investcorp1/mainpage/index.html,remote=n,hubipaddress=localhost"></parameter>
		<parameter name="AdminLogin"
			value="language=english,username=superadmin,password=passw0rd"></parameter>
		<parameter name="Navigation" value="menu=View/Edit,submenu=Cities"></parameter>
		<parameter name="Search"
			value="search_txt=2701,select_coloumn=ID,functionality=city"></parameter>
		<parameter name="ViewandValidateData" value="query=SELECT * FROM cities WHERE id$2701"></parameter>
		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.AdminLogin"></class>
			<class name="org.ejagruti.investcorp.modules.Navigation"></class>
			<class name="org.ejagruti.investcorp.modules.Search"></class>
			<class name="org.ejagruti.investcorp.modules.ViewandValidateData"></class>
		</classes>
	</test>



	<test
		name="Verify the correctness of generated citywise branches total Report">
		<parameter name="tcid" value="7"></parameter>
		<parameter name="usid" value="US-GMPS-S3R1"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="n"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://localhost:1979/investcorp1/mainpage/index.html,remote=n,hubipaddress=localhost"></parameter>
		<parameter name="AdminLogin"
			value="language=english,username=superadmin,password=passw0rd"></parameter>
		<parameter name="Navigation"
			value="menu=reports,submenu=city_wise_branches_total"></parameter>
		<parameter name="ViewandValidateData"
			value="query=SELECT  COUNT(*) AS 'Total Records' FROM cities c INNER JOIN branches b ON b.`citycode`$c.`id` "></parameter>
		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.AdminLogin"></class>
			<class name="org.ejagruti.investcorp.modules.Navigation"></class>
			<class name="org.ejagruti.investcorp.modules.ViewandValidateData"></class>
		</classes>
	</test>



	<test name="Check whether Premium Calculator functionality is accessible">
		<parameter name="tcid" value="8"></parameter>
		<parameter name="usid" value="US-GMPS-S4R1015-01"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="n"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://localhost:1979/investcorp1/mainpage/index.html,remote=n,hubipaddress=localhost"></parameter>
		<parameter name="AdminLogin"
			value="language=english,username=superadmin,password=passw0rd"></parameter>
		<parameter name="Navigation" value="menu=Insurance,submenu=premium_calculator"></parameter>
		<parameter name="PremiumCalculator"
			value="xlsPath=D:\automation\requirement analysis phase\HealthPolicyPremiumTable.xlsx"></parameter>

		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.AdminLogin"></class>
			<class name="org.ejagruti.investcorp.modules.Navigation"></class>
			<class name="org.ejagruti.investcorp.modules.PremiumCalculator"></class>
		</classes>
	</test>


	<test
		name="Verify whether report name Active CC Accounts Total As Per CC Type functionality">
		<parameter name="tcid" value="9"></parameter>
		<parameter name="usid" value="US-GMPS-S3R1016"></parameter>
		<parameter name="owner" value="Satish"></parameter>
		<parameter name="creation_date" value="09/08/2017"></parameter>
		<parameter name="execute" value="n"></parameter>
		<parameter name="LaunchApp"
			value="browser=firefox,url=http://localhost:1979/investcorp1/mainpage/index.html,remote=n,hubipaddress=localhost"></parameter>
		<parameter name="AdminLogin"
			value="language=english,username=superadmin,password=passw0rd"></parameter>
		<parameter name="Navigation" value="menu=Reports,submenu=Active_CC_Accounts"></parameter>
		<parameter name="ViewandValidateData"
			value="query=SELECT COUNT(*) AS 'Total Records' FROM accounts WHERE (SELECT account_status_code$1 AND account_type_code$14) "></parameter>
		<classes>
			<class name="org.ejagruti.investcorp.modules.LaunchApp"></class>
			<class name="org.ejagruti.investcorp.modules.AdminLogin"></class>
			<class name="org.ejagruti.investcorp.modules.Navigation"></class>
			<class name="org.ejagruti.investcorp.modules.ViewandValidateData"></class>
		</classes>
	</test>  -->


</suite> <!-- Smoke -->
